name: 'Verify Team City Config'

on:
  push:
    branches:
    - main
  pull_request:
    paths:
    - '.teamcity/**'

jobs:
  verfy-team-city-configs:
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
    - name: Set up JDK 11
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      working-directory: ./.teamcity
      run: mvn --batch-mode teamcity-configs:generate
