name: 'Verify Team City Config'

on:
  push:
    branches:
    - main
  pull_request:
    paths:
    - '.teamcity/**'

jobs:
  verfy-team-city-configs:
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Set up JDK 11
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      working-directory: ./.teamcity
      run: mvn --batch-mode teamcity-configs:generate
